- @title = t(:account_settings)

#content
  %h1= @title

  %h2 アカウント設定

  = form_for @rubyist, :url => account_path do |form|
    != render :partial => form

    -#     %dl
    -#       %dt Avatar
    -#       %dd
    -#         %ul
    -#           - if @rubyist.twitter_account
    -#             %li
    -#               != image_tag @rubyist.avatar_url(:twitter)
    -#               %label
    -#                 != form.radio_button :avatar_type, :twitter
    -#                 Twitter
    -#           %li
    -#             != image_tag @rubyist.avatar_url(:gravatar)
    -#             %label
    -#               != form.radio_button :avatar_type, :gravatar
    -#               Gravatar
    -#           %li
    -#             != image_tag @rubyist.avatar_url(:default)
    -#             %label
    -#               != form.radio_button :avatar_type, :default
    -#               Sticky Man
    -#     %dl
    -#       %dt Avator Icon
    -#       %dd
    -#         %div{:style=>"padding-left:1em"}
    -#           != image_tag("/images/bow_face.png", :alt => 'Avator', :title => 'Avator Icon Setting Feature is coming soon', :height => 40)
    -#           <br />(coming soon)
    <br /><br /><br />
    != form.submit 'Save'

  %style(type='text/css')
    :sass
      ul#authentications
        list-style: none
        li.authentication
          margin-bottom: 0.8em
          .uid
            font-size: 0.8em
      ul#associate_login
        list-style: none
        li
          float: left
          margin-right: 0.8em

  %h2 アカウントの関連付け
  %h3 関連付けられているアカウント
  %ul#authentications
    - user.authentications.each do |authentication|
      %li.authentication
        .provider
          = image_tag "authbuttons/#{authentication.provider}_32.png", :size => "32x32"
          = authentication.provider.classify
          = link_to "解除", account_authentication_path(authentication), :confirm => 'このサービスとログインアカウントの紐付けを解除しますか?', :method => :delete, :class => "remove" if user.multi_account?
        .uid= authentication.uid


  %h3 新たに関連を追加する
  %ul#associate_login
    %li
      %a.provider{:href => "/auth/twitter"}
        = image_tag "/2011/images/registerBtnTwitter.png", :alt => "via Twitter"
    %li
      %a.provider{:href => "/auth/open_id?openid_url=https://www.google.com/accounts/o8/id"}
        = image_tag "/2011/images/registerBtnGoogle.png", :alt => "via Google"
    %li
      %a.provider{:href => "/auth/open_id?openid_url=http://yahoo.com"}
        = image_tag "/2011/images/registerBtnYahoo.png", :alt => "via Yahoo!"
    %li
      %a.provider{:href => "/auth/open_id?openid_url=http://yahoo.co.jp"}
        = image_tag "/2011/images/registerBtnYahooJapan.png", :alt => "via Yahoo!Japan"
    %li
      %a.provider{:href => "/auth/open_id?openid_url=http://mixi.jp"}
        = image_tag "/2011/images/registerBtnMixi.png", :alt => "via mixi"
